<!DOCTYPE html>
<html>
    <head>
        <title>Music</title>
    </head>
    <body>
        DEBUG<br>
        cwd: {{ cwd }}<br>
        Directories
        <ul id="dirs">
        {% for dir in dirs %}
            <li><a href="{{ base_path }}{{ cwd }}/{{ dir }}">{{ dir }}</a></li>
        {% endfor %}
        </ul>

        Files
        <ul id="files">
        {% for file in files %}
            <li><a href="{{ base_path }}{{ cwd }}/{{ file }}?action=play">{{ file }}</a></li>
        {% endfor %}
        </ul>
        <a href="{{ base_path }}{{ cwd }}?action=playall">Play all</a>
        <a href="{{ base_path }}{{ cwd }}?action=downloadall">Download all</a>

    </body>
</html>
